{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="icon" href="/favicon.ico" sizes="any">

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<!-- Material Symbols - Outlined Set -->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/css/materialize.min.css">
<!-- htmx -->
<script src="https://unpkg.com/htmx.org@2.0.3"
	integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
	crossorigin="anonymous"></script>
<script>
	const theme = localStorage.getItem("theme");
	if (theme) document.documentElement.setAttribute("theme", theme);
</script>
<script src="{% static 'roster/app.js' %}" defer></script>
